.App {
  font-family: Arial, Helvetica, sans-serif; 
  font-size:25px
}
body{
  margin: 0;
  padding:0;
  
}
.titleSection{
  background-color:#5AB3F7 ;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
  color: transparent;
  
}
.titleSection h1{
  background-image:linear-gradient(45deg,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
  background-clip: text;
  background-size: 400%;
  background-position: left;
  animation: bg-animation 10s linear infinite alternate;
}
@keyframes bg-animation{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
.titleSection input{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border:1px solid #5AB3F7;
  font-size:15px;
}
.titleSection button{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #026dbf;
  color: white;
  border:none;
  font-size:18px;
  margin: 10px;
}
.titleSection button:hover{
    cursor:pointer;
    border: 1px solid white;
}
.displaySection{
  display:flex;
  flex-direction:column;
  align-items: center;
}
.displaySection h2, h5 {
  margin: 0px;
}
.displaySection img{
  margin: -12px;
  width: 150px;
}